div {
    width: 400px;
    height: 400px;
    color: white;
    background-image: url("/ex/css-assignment-5-8.png");
    background-color: #eee;
    margin: 20px auto;
    padding: 20px;
}

.assign-2-shape-1 {
    background-repeat: no-repeat;
}

.assign-2-shape-2 {
    background-repeat: repeat-y;
}

.assign-2-shape-3 {
    background-repeat: repeat-x;
}