.container {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 50px;
  display: none;
}

input{
  border-radius: 8px;
  height: 24px;
}

input {
  width: 45%;
}

ul {
  list-style: none;
}
