.container {
    background-color: #eee;
    width: 800px;
    text-transform: capitalize;
}

.full,
.third div,
.half div,
.forth div {
    padding : 10px 0px;
    margin: 15px 0px 0px 15px;
    text-align: center;
    background-color: burlywood;
    float: left;
}

.full {
    width: calc(100% - (15px * 2));
}

.third div {
    width: calc((100% - (15px * 4))/3);
}

.half div {
    width: calc((100% - (15px * 3))/2);
}

.forth div {
    width: calc((100% - (15Px * 5))/4);
    margin-bottom: 15px;
}

.clear {
    clear: both;
}